  /* index.css */
  .app-container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #00A9FF, #FF4F79);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
  }

  /* Agregar un efecto de pintura en el fondo */
  .app-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://www.transparenttextures.com/patterns/cartographer.png');
    opacity: 0.2;
    pointer-events: none;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3A4D7A;
    padding: 10px 0;
    position: relative;
    z-index: 1;
  }

  .navbar-list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navbar-list li {
    margin: 0 20px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .navbar-list li:hover {
    text-decoration: underline;
    color: #A4FF00;
  }

  .responsive-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 45%;
    overflow: hidden; 
}

.responsive-wrapper > * { /* Aplica al primer hijo */
    transform: scale(1.15); /* Aumenta el tamaño */
}
.skills-section {
  opacity: 0;
  animation: slideDown 1s ease-out forwards;
  background: #111;
  color: #00FF99;
  padding: 20px 50px; /* Ajusta el padding si es necesario */
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0; /* Elimina el margen superior para alinearlo con el encabezado */
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 255, 153, 0.3);
  width: 100%; /* Ocupa todo el ancho disponible */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}


@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
